{% extends "task_mgmt/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container my-bg">
        <div class="row">
            <div class="col-4">
                <div class="content-section">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">创建任务</legend>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">创建</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-8">
                <div class="content-section">
                    <div class="row">
                        <button class="btn btn-outline-info" id="refreshTaskBtn">刷新</button>
                    </div>
                    <div class="row mt-1">
                        <div id="taskGrid"></div>
                    </div>
                </div>
                <div class="content-section">
                    <div class="row">
                        <button class="btn btn-outline-info" id="refreshMsgBtn">刷新</button>
                    </div>
                    <div class="row mt-1">
                        <div id="messageGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
          integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
            integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        window.history.replaceState(null, null, window.location.href);
        jQuery.datetimepicker.setLocale('ch');
        $(function () {
            $("#div_id_week").hide();
            $("#div_id_month_of_year").hide();
            $("#div_id_day_of_month").hide();
        });
        $("#id_task_type").change(function () {
            var val = this.value
            if (val === '0' || val === '3') {
                $("#div_id_week").hide();
                $("#div_id_month_of_year").hide();
                $("#div_id_day_of_month").hide();
                if (val === '3') {
                    $("#div_id_execute_time").hide();
                }
            }
            else if (val === '1') {
                $("#div_id_week").show();
                $("#div_id_month_of_year").hide();
                $("#div_id_day_of_month").hide();
                $("#div_id_execute_time").show();
            } else if (val === '2') {
                $("#div_id_week").hide();
                $("#div_id_month_of_year").show();
                $("#div_id_day_of_month").show();
                $("#div_id_execute_time").show();
            }
        });
        $("#id_start_date").datetimepicker({
            format: 'Y-m-d H:i',
            step: 30,
            todayButton: true,
        });
        $("#id_execute_time").timepicker({
            timeFormat: 'HH:mm',
            interval: 30,
            dynamic: true,
        });
    </script>
    <script>
        $.getTaskList = function () {
            $.ajax({
                type: "GET",
                url: "/get_task_list",
                dataType: "json",
                success: function (res) {
                    tasks = res;
                    console.log(tasks);
                    $.createTaskGrid();
                },
                error: function (error) {
                }
            });
        };

        $.getMsgList = function () {
            $.ajax({
                type: "GET",
                url: "/get_msg_list",
                dataType: "json",
                success: function (res) {
                    messages = res;
                    console.log(messages);
                    $.createMsgGrid();
                },
                error: function (error) {
                }
            });
        }

        document.querySelector("#refreshTaskBtn").onclick = function (e) {
            $.getTaskList();
        }
        document.querySelector("#refreshMsgBtn").onclick = function (e) {
            $.getMsgList();
        }

        var tasks = [];
        var messages = []

        $(function () {
            $.getTaskList();
            $.getMsgList();
        });

        $.createTaskGrid = function () {
            $("#taskGrid").jsGrid({
                width: "100%",

                sorting: true,
                paging: true,
                data: tasks,

                pagerContainer: null,
                pageIndex: 1,
                pageSize: 7,
                pageButtonCount: 15,
                pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                pagePrevText: "Prev",
                pageNextText: "Next",
                pageFirstText: "First",
                pageLastText: "Last",
                pageNavigatorNextText: "...",
                pageNavigatorPrevText: "...",


                fields: [
                    {name: "id", title: "任务ID", type: "text"},
                    {name: "title", title: "任务名", type: "text"},
                    {name: "description", title: "描述", type: "text"},
                    {name: "status", title: "状态", type: "text"},
                    {name: "start_date", title: "开始时间", type: "text", width: 140},
                    {name: "execute_time", title: "执行时间", type: "text"},
                    {name: "task_type", title: "任务类型", type: "text"},
                    {
                        type: "control", editButton: true, deleteButton: false,
                        itemTemplate: function (value, item) {
                            var $stopTaskButton = null;
                            if (item.status === "正在执行") {
                                $stopTaskButton = $("<button>")
                                    .attr({class: "btn btn-primary btn-sm"})
                                    .attr({role: "button"})
                                    .attr({text: "button"})
                                    .text("停止")
                                    .click(function (e) {
                                        $.ajax({
                                            type: "POST",
                                            url: "/stop_task",
                                            data: {"id": item.id},
                                            dataType: "text",
                                            success: function () {
                                                $.getTaskList();
                                            },
                                            error: function (data) {
                                                alert(data.status)
                                            }
                                        });
                                        e.stopPropagation();
                                    })
                            }
                            return $("<div>").attr({class: "btn-toolbar"})
                                .append($stopTaskButton)
                        }
                    },
                ]
            });
        }

        $.createMsgGrid = function () {
            $("#messageGrid").jsGrid({
                width: "100%",
                {#height: "400px",#}

                sorting: true,
                paging: true,
                data: messages,

                pagerContainer: null,
                pageIndex: 1,
                pageSize: 7,
                pageButtonCount: 15,
                pagerFormat: "Pages: {first} {prev} {pages} {next} {last}    {pageIndex} of {pageCount}",
                pagePrevText: "Prev",
                pageNextText: "Next",
                pageFirstText: "First",
                pageLastText: "Last",
                pageNavigatorNextText: "...",
                pageNavigatorPrevText: "...",


                fields: [
                    {name: "task_id", title: "任务ID", type: "text"},
                    {name: "time", title: "时间", type: "text"},
                    {name: "message", title: "消息内容", type: "text"},
                ]
            });
        }
    </script>
{% endblock script %}